body{
    margin: 0;
    background-color: #6c6d72;
}

section.alt-background{
    margin: 10px;
    background-color: #2a2f49;
}



header{
    background-color: #0f1833;
    margin-bottom: 40px;
}

header h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 20px; 
}

header nav{
    display: flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    padding-left: 0;
    list-style: none;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a{
    margin-right: 0;
}

@media all and (min-width: 600px){
    header{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header h1{
        margin: 14px 0;
        padding-top: 0;
    }

    header nav{
        margin-top: 8px;
    }

    header nav ul li a:hover{
        color: #bdbdbd;
    }
}

h1, h2, h3{
    color: #fff;
    text-align: center;
    
}

h2{
    padding: 10px;
    font-size: 20pt;
    
}
    .portfolio{
    font-size: 35pt;
    text-decoration: underline;
}

p{
    text-align: left;
    color: #fff;
}

main img{
    width:100%;
}

img.enhanced-image{
    border-radius: 20px;
}



.group {
    display: flex;
    flex-direction: column;
  }

  .centered{

  }
  
  .item {
    flex: 1;
    margin: 20px;
 
  }
     .centered{
        margin: auto;
        
        
        
    }
  .item-double {
    flex: 2;
    margin: 20px;
  }
  .screenshot{
      flex:.5;
  }
  .smaller{
      height: 50%;
      width: 50%;
  }

  /* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 600px) {
    section {
      padding: 0 10%;
    }

    .group {
      flex-direction: row;
      align-items: center;
      /* justify-content: center; */
    }
  }
  

  form label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
    font-family: arial;
  }
  
  form input[type=text]{
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
  }

  form input[type=email]{
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  form input[type=text]#email{
    width: 51px;
  }

  form button{
      margin: 10px;
  }



  footer p{
      font-size: 25pt;
      text-align: center;
      
  }